In [6]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [9]:
obj = pd.Series([3,6,5,-2])
obj

0    3
1    6
2    5
3   -2
dtype: int64

In [10]:
print(obj.values)
print(obj.index)

[ 3  6  5 -2]
RangeIndex(start=0, stop=4, step=1)

In [11]:
obj2 = pd.Series([3,6,5,-2],index=['b','d','a','c'])
obj2

b    3
d    6
a    5
c   -2
dtype: int64

In [12]:
obj2[2]

5

In [13]:
obj2['a']

5

In [16]:
obj2[['a','b','c']]

a    5
b    3
c   -2
dtype: int64

In [19]:
obj2[obj2>0]

b    3
d    6
a    5
dtype: int64

In [21]:
sdata = {'b':2,'c':3,'a':1,'d':4}
obj3 = pd.Series(sdata)
obj3

b    2
c    3
a    1
d    4
dtype: int64

In [24]:
obj3.name = 'population'
obj3.index.name = 'state'
obj3

state
b    2
c    3
a    1
d    4
Name: population, dtype: int64

In [29]:
data = {
    'name':['wang','zhang','li','yu','zheng'],
    'age':[23,25,25,32,21],
    'sex':['man','women','man','women','man']
}
# df = pd.DataFrame(data)
df = pd.DataFrame(data,columns=['name','sex','age'],index=[1,2,3,4,5])
df

    name    sex  age
1   wang    man   23
2  zhang  women   25
3     li    man   25
4     yu  women   32
5  zheng    man   21

In [30]:
print(df.columns)
print(df.index)

Index(['name', 'sex', 'age'], dtype='object')
Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [31]:
df['sex']

1      man
2    women
3      man
4    women
5      man
Name: sex, dtype: object

In [33]:
df.loc(2)

ValueError: No axis named 2 for object type DataFrame